# Создайте копию из этго файла и присвойте имя .env
# Замените значения переменных вашими данными

# Конфигурация базы данных

NAME=namedatabase                              # имя вашей базы данных.
USER=username                                  # имя пользователя PostgreSQL
PASSWORD=password                              # пароль пользователя PostgreSQL
HOST=localhost                                 # адрес сервера базы данных.
PORT=userport                                  # порт, на котором работает PostgreSQL, обычно (5432)

DEBUG=True/False                               #если хотите включить режим DEBUG установите True

SECRET_KEY=1232313131                         # Введите секрктный ключ

EMAIL_HOST_USER=your_email@yandex.ru          # Укажите ваш адрес электронной почты для отправки сообщений
EMAIL_HOST_PASSWORD=password                  # Укажите пароль из приложения