# Создайте копию из этго файла и присвойте имя .env
# Замените значения переменных вашими данными

# Конфигурация базы данных

NAME=namedatabase                              # имя вашей базы данных.
USER=username                                  # имя пользователя PostgreSQL
PASSWORD=password                              # пароль пользователя PostgreSQL
HOST=localhost                                 # адрес сервера базы данных.
PORT=userport                                  # порт, на котором работает PostgreSQL, обычно (5432)