{% extends 'blogs/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-8">
                <div class="card">
                    {% if object %}
                    <p class="card-text text-center ">Редактирование блога</p>
                    {% else %}
                    <p class="card-text text-center">Создание блога</p>
                    {% endif %}
                    <div class="card-boby ms-2 me-2 mt-3">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button class="btn btn-primary" type="submit">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <p class="card-text text-center ">Автор</p>
                    <div class="card-boby ms-2 me-2 mt-3">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
