{% extends 'blogs/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-boby mt-3">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button class="btn btn-primary" type="submit">
                        Зарегистрироваться
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}