{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for category in object_list %}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <p class="card-text">{{ category.description }}</p>
                    <a href="{% url 'catalog:product_category' category.pk %}" class="btn btn-secondary">Посмотреть продукты</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
